# Compiled binaries
send-test
receive-test

# Object files
*.o
*.obj

# Temporary files
*.tmp
*~

# Build artifacts
*.a
*.so
*.dylib

./aircrack-ng/*
./scapy/*

.env
custom_frame
wifi-monitor-check
wifi-monitor-setup
