aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
asyncssh
attrs
autobahn
babel
backoff
beautifulsoup4
bitarray
black
bleach
blinker
certifi
cffi
chardet
charset-normalizer
click
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
dnspython
email_validator
executing
faiss-cpu
fastapi
fastapi-cli
fastjsonschema
Flask
fonttools
fqdn
frozenlist
h11
httpcore
httptools
httpx
hyperlink
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_proxy
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_vpython
jupyterlab_widgets
kiwisolver
linkify-it-py
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
minio
mistune
multidict
mypy_extensions
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numpy
orjson
overrides
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyang
pyangbind-brcd
pybind
pybind11_global
pycparser
pycryptodome
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyX
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rich-toolkit
rpds-py
scapy
Send2Trash
setuptools
shellingham
simpervisor
six
sniffio
soupsieve
stack-data
starlette
terminado
textual
tinycss2
toml
tornado
traitlets
txaio
typer
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uc-micro-py
ujson
uri-template
urllib3
uvicorn
uvloop
vpython
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
yarl
zipp
